---
http_interactions:
- request:
    method: get
    uri: https://kayaposoft.com/enrico/json/v2.0/?action=getHolidaysForMonth&country=deu&month=1&year=2020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"date":{"day":1,"month":1,"year":2020,"dayOfWeek":3},"name":[{"lang":"de","text":"Neujahrstag"},{"lang":"en","text":"New
        Year''s Day"}],"holidayType":"public_holiday"}]'
  recorded_at: Fri, 18 Jul 2025 13:15:28 GMT
recorded_with: VCR 6.3.1
