---
http_interactions:
- request:
    method: get
    uri: http://kayaposoft.com/enrico/json/v1.0/?action=getPublicHolidaysForYear&country=ger&region=&year=2013
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"date":{"day":1,"month":1,"year":2013,"dayOfWeek":2},"localName":"Neujahrstag","englishName":"New
        Year''s Day"},{"date":{"day":29,"month":3,"year":2013,"dayOfWeek":5},"localName":"Karfreitag","englishName":"Good
        Friday"},{"date":{"day":1,"month":4,"year":2013,"dayOfWeek":1},"localName":"Ostermontag","englishName":"Easter
        Monday"},{"date":{"day":1,"month":5,"year":2013,"dayOfWeek":3},"localName":"Tag
        der Arbeit","englishName":"Labour Day"},{"date":{"day":9,"month":5,"year":2013,"dayOfWeek":4},"localName":"Christi
        Himmelfahrt","englishName":"Ascension Day"},{"date":{"day":20,"month":5,"year":2013,"dayOfWeek":1},"localName":"Pfingstmontag","englishName":"Whit
        Monday"},{"date":{"day":3,"month":10,"year":2013,"dayOfWeek":4},"localName":"Tag
        der Deutschen Einheit","englishName":"German Unity Day"},{"date":{"day":25,"month":12,"year":2013,"dayOfWeek":3},"localName":"Weihnachtstag","englishName":"Christmas
        Day"},{"date":{"day":26,"month":12,"year":2013,"dayOfWeek":4},"localName":"Zweiter
        Weihnachtsfeiertag","englishName":"St. Stephen''s Day"}]'
  recorded_at: Mon, 02 Dec 2013 17:41:34 GMT
recorded_with: VCR 2.3.0
