---
http_interactions:
- request:
    method: get
    uri: http://kayaposoft.com/enrico/json/v1.0/?action=getPublicHolidaysForDateRange&country=ger&fromDate=01-01-2013&region=&toDate=01-03-2013
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"date":{"day":1,"month":1,"year":2013,"dayOfWeek":2},"localName":"Neujahrstag","englishName":"New
        Year''s Day"}]'
  recorded_at: Mon, 02 Dec 2013 17:41:33 GMT
recorded_with: VCR 2.3.0
