---
http_interactions:
- request:
    method: get
    uri: http://kayaposoft.com/enrico/json/v2.0/?action=getSupportedCountries
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"countryCode":"ago","regions":[],"holidayTypes":["public_holiday","other_day"],"fullName":"Angola","fromDate":{"day":1,"month":1,"year":2014},"toDate":{"day":31,"month":12,"year":32767}},{"countryCode":"aus","regions":["act","qld","nsw","nt","sa","tas","vic","wa"],"holidayTypes":["public_holiday","school_holiday","other_day"],"fullName":"Australia","fromDate":{"day":1,"month":1,"year":2011},"toDate":{"day":31,"month":12,"year":32767}},{"countryCode":"aut","regions":[],"holidayTypes":["public_holiday","other_day"],"fullName":"Austria","fromDate":{"day":1,"month":1,"year":1946},"toDate":{"day":31,"month":12,"year":32767}},{"countryCode":"bel","r[...]
[...]
- request:
    method: get
    uri: https://kayaposoft.com/enrico/json/v2.0/?action=getSupportedCountries
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"countryCode":"ago","regions":[],"holidayTypes":["public_holiday","other_day"],"fullName":"Angola","fromDate":{"day":1,"month":1,"year":2014},"toDate":{"day":31,[...]
[...]
